extends layout

block content
    div.area-half
    div.box-center
        header.header-top
                div.left-area
                    h1
                        a
                            i.material-icons assessment
                            span GLOL
                    nav.menu
                        ul
                            li
                                a(href='#n') 통계
                            li
                                a(href='#n') 랭킹
                div.right-area LOL 전적분석 사이트
        div.box-search
            div.search
                form(action='/summoner' method='post')
                    i.material-icons search
                    input(placeholder='소환사명을 입력해주세요' name="nick_name")
                    button.btn.type-02 GO
