/* color */
$white:#fff;
$black:#000;
$grey:#666;

$red:#e60d0d;
$blue:#0039d8;

$grey-lighten-1:#999;
$grey-lighten-2:#888;
$grey-lighten-3:#dbdbdb;
$deep-purple:#673AB7;
$deep-purple-lighten-5:#EDE7F6;

$deep-purple-lighten-4:#D1C4E9;

$deep-purple-lighten-1:#7E57C2;


$deep-purple-darken-1:#5E35B1;
$deep-purple-darken-4:#311B92;
